body {
    background:url("back.jpg") no-repeat center center;
    background-size:cover;
    background-attachment: fixed;
    background-color: #CCCCCC
}
aside {
    float: left;
}

#h1 {
    height:60px;
    color: white;
    text-align: center;
}

#h2 {
    height:100px;
    text-align: center;
    font-style: oblique;
    font-size: 300%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.content{
    margin-left: 8cm;
    color: red;
    font-size: 150%;
}

.para {
    margin-left: 5cm;
}
main{
    height: 300px;
}

footer {
    float: none;
    /* margin-left: 5cm; */
    font-size: 200%;
    background-color: white;
    height: 300px;
    text-align: left;
    padding-top: 2px;
}
